In [8]:
import pandas as pd

In [9]:
# df = pd.read_excel ()
xls = pd.ExcelFile(r'./files/PairTradeFoodIndustry.xlsx')
df1 = pd.read_excel(xls, '1210大成+1201味全')
# df2 = pd.read_excel(xls, 'Sheet2')


# 0.068726401

In [10]:
'''
標準差計算
'''
def get_standard_deviation(num_list):
    
    l = len(num_list)
    num_sum = sum(num_list)
    avg = num_sum / l
    
    total = 0
    for num in num_list:
        total += (num - avg) ** 2
    
    return round((total/(l-1)) ** 0.5, 9)

In [11]:

diff_list = list(df1[df1['date'] < '2011-1-1']['diff'])

print(get_standard_deviation(diff_list))

0.068726401

In [12]:
class PairTrading():
    
    df = None
    prev_sd = 0
    prev_avg = 0
    
    def __init__(self, df, prev_sd = None, prev_avg = None):
        
        self.df = df
        self.prev_sd = prev_sd
        self.prev_avg = prev_avg
        
    '''
    計算標準差
    '''
    def get_standard_deviation(self):

        num_list = list(self.df['diff'])
        avg = self.get_average()

        total = 0
        l = len(num_list)
        for num in num_list:
            total += (num - avg) ** 2

        return (total/(l-1)) ** 0.5

    '''
    計算平均
    '''
    def get_average(self):

        num_list = list(self.df['diff'])
        
        return  sum(num_list) / len(num_list)

    def get_result(self):
        
        is_open = False
        trad = 0
        prev_row = None
        
        gain = 0
        total = 0
        
        # print(f'{df["date"][0].year - 1}價差平均: {self.prev_avg}, 價差標準差: {self.prev_sd}')
        
        for index, row in self.df.iterrows():
            
            # 主要為XY之間標準化股價 價差大於 價差的平均加減1.5個價差的標準差 就開倉
            if (((self.prev_avg + self.prev_sd * 1.5) < row['diff'] <= (self.prev_avg + self.prev_sd * 5)) or 
                ((self.prev_avg - self.prev_sd * 5) <= row['diff'] < (self.prev_avg - self.prev_sd * 1.5))) and \
                is_open == False:
                
                # print(f'{row["date"]} 開倉')
            
                is_open = True                  
                prev_row = row
                
            # XY之間標準化股價差收斂回價差的平均加減0.2個價差的標準差 就平倉，結算收益
            elif ((self.prev_avg - self.prev_sd * 0.2) <= row['diff'] <= (self.prev_avg + self.prev_sd * 0.2)) \
                and is_open == True:
                
                # print(f'{row["date"]} 平倉')
                is_open = False
                trad += 1
                
                total += prev_row[1] * prev_row[2] * 2
                
                if prev_row[3] > prev_row[4]:
                    
                    gain += (prev_row[1] - row[1]) * prev_row[2] \
                        + (row[2] - prev_row[2]) * prev_row[1]

                elif prev_row[3] < prev_row[4]:
                    
                    gain += (row[1] - prev_row[1]) * prev_row[2] \
                        + (prev_row[2] - row[2]) * prev_row[1]
                
            # 主要為XY之間標準化股價 價差大於 價差的平均加減5個價差的標準差 就強制平倉，就算收益
            elif ((row['diff'] > (self.prev_avg + self.prev_sd * 5) or 
                 row['diff'] < (self.prev_avg - self.prev_sd * 5)) and
                 is_open == True):
                
                # print(f'{row["date"]} 強制平倉')
                is_open = False
                trad += 1
                
                total += prev_row[1] * prev_row[2] * 2
                
                
                if prev_row[3] > prev_row[4]:
                    
                    gain += (prev_row[1] - row[1]) * prev_row[2] \
                        + (row[2] - prev_row[2]) * prev_row[1]
                    
                elif prev_row[3] < prev_row[4]:
                    
                    gain += (prev_row[2] - row[2]) * prev_row[1] \
                        + (row[1] - prev_row[1]) * prev_row[2]
                    
#         return f'總共交易 {trad} 次, 報酬: {gain}, 總交易金額: {total} \n'
        return [self.df['date'][0].year, trad, gain / 10]

In [20]:
'''
group by data
'''
df1.index = pd.to_datetime(df1['date'], format='%y/%m/%d')
grouped_df = df1.groupby(by=[df1.index.year])

df_list = [group for name, group in grouped_df]

# PairTrading
sd = 0
avg = 0


data = []
for i, df in enumerate(df_list):
    
    if i == 0:
        pt = PairTrading(df)
    else:
        pt = PairTrading(df, sd, avg)
        data.append(pt.get_result())
        
    sd = pt.get_standard_deviation()
    avg = pt.get_average()
    
ans_df = pd.DataFrame(
    data,
    columns=['年分', '交易次數', '總報酬'])

average = ans_df.mean()
average['年分'] = ''
ans_df.loc['平均'] = average

ans_df

      年分  交易次數        總報酬
0   2011   1.0   4.521314
1   2012   0.0   0.000000
2   2013   7.0 -15.526993
3   2014   2.0  -3.923101
4   2015   0.0   0.000000
5   2016   3.0  -2.812964
6   2017   1.0   9.949868
7   2018   2.0   1.448152
8   2019   2.0  12.631081
9   2020   0.0   0.000000
平均         1.8   0.628736

In [11]:
ans_df.to_excel("output.xlsx")

writer = pd.ExcelWriter('output.xlsx', engine='xlsxwriter')

In [9]:
-0.073035717 < -0.074670967 < 0.090777318

False

In [10]:
date       x        y        x stand     y stand
2013/1/14  13.1495  37.1708 1.001859033  1.07653
2013/4/25  12.0516  40.7087 0.918210147  1.17899

SyntaxError: invalid syntax (<ipython-input-10-d366da4ea116>, line 1)

In [11]:
(13.1495 - 12.0516) * 37.1708

40.80982131999997

In [12]:
(40.7087 - 37.1708) * 12.0516

42.63735564000001

In [14]:
import tkinter as tk
from tkinter import ttk

In [17]:
root = tk.Tk()
df = df_list[0]
cols = list(df.columns)

tree = ttk.Treeview(root)
tree.pack()
tree["columns"] = cols
for i in cols:
    tree.column(i, anchor="w")
    tree.heading(i, text=i, anchor='w')

for index, row in df.iterrows():
    tree.insert("",0,text=index,values=list(row))

root.mainloop()